body.wardcampout main {
    grid-template-columns: 1fr 4fr;
}

main p,
main a,
.campout-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-self: center;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

body.wardcampout .sidebar-nav {
    align-self: stretch;
    height: 100%;
}

.sidebar-nav {
    grid-row: 1/7;
}

#ward-calendar {
    max-width: 320px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    user-select: none;
}

.calendar-header h3 {
    text-align: center;
    margin-bottom: 10px;
}

.calendar-weekdays, .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-weekday {
    font-weight: bold;
    text-align: center;
    padding: 8px 0;
    background-color: #fcdb58;
    border: 1px solid #ddd;
    color:black;
}

.calendar-day {
    border: 1px solid #ddd;
    padding: 12px 0;
    text-align: center;
    cursor: default;
}

.calendar-day.empty {
    border: none;
    background: transparent;
    cursor: default;
}

.calendar-day.campout-day {
    background-color: #ED1C24;
    color: white;
    font-weight: bold;
    border-radius: 50%;
}

/* Mobile view */
@media screen and (max-width: 800px) {
    body.wardcampout main {
    display: flex;
    flex-direction: column;    
    padding: 10px;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    }

    .campout-photo,
    #campout-details1,
    #campout-details2,
    .campout-content {
        width: 100%;
        box-sizing: border-box;
        padding: 0 10px;
    }

    .campout-photo img {
        width: 100%;        
        height: auto;
        display: block;
    }

    .calendar-weekdays,
    .calendar-days {
        grid-template-columns: repeat(7, 1fr);
        width: 100%;
    }

    .sidebar-nav {
        width: 100%;
    }

    *{
        box-sizing: border-box; /* Ensures padding and border are included in element's total width and height */
    }

}