body.wardcampout main {
    grid-template-columns: 1fr 4fr;
}

main p,
main a,
.campout-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-self: center;
}

body.wardcampout .sidebar-nav {
    align-self: stretch;
    height: 100%;
}

.sidebar-nav {
    grid-row: 1/7;
}

#ward-calendar {
    max-width: 320px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    user-select: none;
}

.calendar-header h3 {
    text-align: center;
    margin-bottom: 10px;
}

.calendar-weekdays, .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-weekday {
    font-weight: bold;
    text-align: center;
    padding: 8px 0;
    background-color: #fcdb58;
    border: 1px solid #ddd;
    color:black;
}

.calendar-day {
    border: 1px solid #ddd;
    padding: 12px 0;
    text-align: center;
    cursor: default;
}

.calendar-day.empty {
    border: none;
    background: transparent;
    cursor: default;
}

.calendar-day.campout-day {
    background-color: #ED1C24;
    color: white;
    font-weight: bold;
    border-radius: 50%;
}

@media screen and (max-width: 800px) {
    body.wardcampout main {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr; /* stack columns vertically */
    padding: 10px;
    align-items: center;
    margin: 0 auto;
    }

    .campout-photo {
    float: none;
    margin: 0 auto 20px;
    max-width: 100%;
    }

    .mainp1, .mainp2 {
        text-align: center;
    }
}