/* sidebar */
.sidebar-nav {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-row: 1/7;
    background-color: #fcdb58;
    border-radius: 10px;  
    height: 100%; 
}

.sidebar-nav ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.sidebar-nav li,
.sidebar-nav button {
    margin-bottom: 10px;
    position: relative;
}

.sidebar-nav a,
.sidebar-nav button,
.sidebar-nav li,
.sidebar-nav label {
    display: block;
    width: 85%;
    flex-wrap: wrap;
    background-color: #fcdb58;
    color: black;
    padding: 8px;
    text-decoration: none;
    border: none;
    border-radius: 25%;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 1.25em;
}

.sidebar-nav a:hover,
.sidebar-nav button:hover,
.sidebar-nav li:hover,
.sidebar-nav label:hover {
    background-color: black;
    color: white;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
}

.dropbutton {
    background-color: #fcdb58;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    width: 100%;
    text-align: left;
    border-radius: 6px;
    cursor: pointer;
}

.dropbutton:hover {
    background-color: black;
    color: white;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    margin-top: 5px;
    background-color: #fcdb58;
    border-radius: 6px;
    padding-left: 10px;
}

.dropdown-content a {
    padding: 8px 10px;
    text-decoration: none;
    color: black;
}

.dropdown-content a:hover {
    background-color: black;
    color: white;
}

.dropdown-content.show {
    display: flex;
}